<div>
    <div id="color" style="display: flex;flex-direction: row; justify-content: center;">
        <img src="https://image.freepik.com/darmowe-wektory/tlo-platnosci-online_23-2147697567.jpg" alt="" width="150" height="150">
        <h2>Software shop</h2>
    </div>
    <button routerLink="/adm_dashboard">Panel Administratora</button>

    <div style="display: flex; justify-content: center;">
        <input type="text" [(ngModel)]="this.mainService.productsRequest.name">
        <button (click)="this.mainService.getProducts(this.mainService.productsRequest)" routerLink="/products">Szukaj Produktu</button>
    </div>
    <div>
      <button id="cartBtn" routerLink="/cart">Twoje zakupy:
        {{getCartQuanity()}}
      </button>
      <br>
      <br>
      </div>
      <button>Kontakt do nas</button>

</div>
