#color{
  background: #9EE0DC;
}
#cartBtn{
  float: left;
}
#kontakt{
  background: #F1F8E9;
  float: left;
  border-style: solid;
				border-color: black;
        border-width: 2px;
        margin-left: 10px;
}
