<div id="kol" style="display: flex;flex-direction: column;width: 120px">
    <button class="btns" routerLink="/landing">Sklep</button>
    <button class="btns" routerLink="/adm_dashboard">Dashboard</button>
    <button class="btns" routerLink="/adm_products">Produkty</button>
    <button class="btns">Zamówienia</button>
    <button class="btns">Użytkownicy</button>
    <button class="btns">Newsletter</button>
    <button class="btns">Logi</button>
    <button class="btns">Ustawienia</button>
</div>
