#productsTable{
  img{
    width:180px;
  }
  td{
    padding:20px;
  }
}
#koszyk{

  padding: 7px 7px;
  color: whitesmoke;
  background-color: #82B1FF;
  border-radius: 4px;
  border: 2px solid #B3E5FC;
  margin-left: 5px;
  box-shadow: 3px 3px 7px darkgray;
}
#powrot{
  padding: 4px 4px;
  color: whitesmoke;
  background:linear-gradient(#6699FF,#99CCFF);
  border-radius: 4px;
  border: 2px solid #B3E5FC;
  margin-left: 5px;
  width: 150px;
  height: 30px;
  float: right;

}
#naglowek{
  color:#000066;
}
.box{
  border-left: 2px solid #F1F8E9;
  border-right: 2px solid #F1F8E9;
  border-top: 2px solid #F1F8E9;
  border-bottom: 2px solid #F1F8E9;
  background: #c7faf3;
}
