<app-panel-top></app-panel-top>

<button id="powrot" routerLink="/landing">Powrót</button>

<div class="products">
    <table style="margin:0 auto;" id="productsTable">
        <thead *ngIf="this.mainService.products">
            <tr id="naglowek">
                <th class="box">Obrazek</th>
                <th class="box">Dane produktu</th>
                <th class="box">Akcje</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let product of this.mainService.products?.productsTable">
                <tr style="background-color: #F1F8E9">
                    <td><img src="{{product.thumbnail}}" alt=""></td>
                    <td>
                        <ul>
                            <li>Tytuł: {{product.title}}</li>
                            <li>Cena: {{product.price}}</li>
                            <li>Kategoria: {{product.category}}</li>
                        </ul>
                    </td>
                    <td>
                        <button id="koszyk" (click)="addToCart(product)">Do koszyka</button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
